{% extends 'todo/base.html' %}

{% block content %}
{% if messages %}
<div class='errormessage'>
<ul class="messages">
    {% for message in messages %}
        <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
</div>
{% endif %}
<div class="box1">
<h5 class='login'>Login</h5>
<form method="POST" class="login-form">{% csrf_token %}
    <p>MailAddress　：　{{form.mail_address}}</p>
    <p>Password　：　{{form.password}}</p>
<div class='log'>
<button type="submit">Login</button>
</div>
</form>
</div>
{% endblock %}