{% extends 'todo/mypage_base.html' %}

{% block content %}
<div　>
    <p class='aaa'>Thank You For Registering, {{name}} !!</p>
    <p class='aaa'>In this application, you can manage your schedule!</p>
</div>
<div class='button'>
<ul>
    <li class='list1'><a href="{% url 'schedule_register' username=name %}" class="btn-flat-simple"><i class="fa fa-caret-right"></i> Create Schedule</a></li>
    <li class='list2'><a href="{% url 'schedule_check' username=name %}" class="btn-flat-simple"><i class="fa fa-caret-right"></i> Check Schedule</a></li>
</ul>
</div>
{% endblock %}