{% extends 'todo/base.html' %}

{% block content %}
{% if messages %}
<div class='errormessage'>
<ul class="messages">
    {% for message in messages %}
        <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
</div>
{% endif %}
<div class="box">
<h5 class='register'>Create New Account</h5>
<form method="POST" class="register-form">{% csrf_token %}
    <p>Name　：　{{form.user_name}}</p>
    <p>MailAddress　：　{{form.mail_address}}</p>
    <p>Password　：　{{form.password}}</p>
<div class='save'>
<button type="submit" name='register'>Register</button>
</div>
</form>
</div>
{% endblock %}